@media (width >= 37.5rem) {
    .card__container {
        flex-direction: row;
         max-height: 28.125rem;
    }
    .card__image-mobile {
        display: none;
    }
    .card__content {
    max-width: 50%;
    }
    .card__image-desk {
        background: url("/images/image-product-desktop.jpg") center center/cover no-repeat;
        width: 50%;
    }
}